/*--- General rules ---*/
* {
    margin: 0; /* 1st we remove margins and */
    padding: 0; /* padding to have a better box control. */
    box-sizing: border-box; /* 2nd we limit the box space to its own size. */
    background-color: #FBF7F0; /* All pages have this background color. */
}

/* 
Color palette:

General background: #FBF7F0
Other: #D9E4DD
Buttons background: #CDC9C3
General borders: #555555

*/

html {
    font-family: Georgia, serif; /* Letter. */
    font-size: 10px; /* Font size 10px = 1rem to have better control of the size. */
}

h1 {
    font-size: 2rem; /* General h1 font size */
}

/*--- Rules ---*/
/*    for computers    */

    /* Navegation-starts */

.nav-div {
    padding: 2.5% 2.5% 0% 2.5%;
    display: flex;
    flex-direction: row;
}

.nav-div > img {
    height: auto;
    width: 8%;
    margin-right: 2.5%;
}

.nav-ul {
    width: 87%;
}
.nav-ul, li {
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    font-size: 2rem;
}

.nav-ul > li > a {
    text-decoration: none;
    background-color: #CDC9C3;
    color: black;
}

li {
    border: 1mm solid #555555;
    height: 50%;
    margin: 2%;
    padding: 0px 2%;
    background-color: #CDC9C3;
    display: flex;
    align-items: center;
}

    /* Navegation-ends */

    /* Form Sigup Signin starts */

section > h1 {
    display: flex;
    justify-content: space-around;
}

.dropdown {
    display: none;
}

.form-div, .faq-div {
    display: flex;
    flex-direction: column;
}
.form-h1, .faq-h1 {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 2.5% 0%;
}

.form {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: column;
    margin: 2% 0px; 
}

.form > input {
    margin: 1% 25%;
    height: 8%;
    width: 50%;
    font-size: 2rem;
}

.form > button {
    margin: 3% 40%;
    height: 45px;
    width: 20%;
    border: 1px solid #555555; 
    font-size: 1.5rem; 
    background-color: #CDC9C3;
}

    /* Form Sigup Signin ends */

    /* FAQ starts */

.faq-question {
    display: flex;
    font-size: 1.5rem;
    font-weight: bolder;
    justify-content: center;
    text-align: center;
}

.faq-answer {
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    text-align: center;
}

.faq-answer-span {
    display: inline;
    /* justify-content: center;
    flex-direction: row; */
}

    /* FAQ ends */

    /* Main cities starts*/

.custom-select, .input-group-text {
    background-color: #CDC9C3;
    color: black;
    font-size: 2rem;
    height: 39.5px;
}

.main-div {
    display: flex;
    flex-direction: row;
}

.city1-data, .city2-data {
    width: 30%;
    padding: 2% 0%;
    font-size: 2rem;
}

.city1-data {
    padding-left: 2.5%;
    padding-right: 1.25%;
}

.city2-data {
    padding-left: 1.25%;
    padding-right: 2.5%;
}

.diffs-data {
    width: 30%;
    padding: 5.5% 1.25% 2% 1.25%;
    font-size: 2rem;
    align-items: center;
    display: flex;
    flex-direction: column;    
}

.input-group {
    border: 1mm solid #555555;
}

/* Main cities ends*/

/* Map starts */

.map {
    border: 1mm solid #555555;
}

.map, .map-frame1, .map-frame2 {
    background-color: #D9E4DD;
}

/* Map ends */



@media (max-width: 375px) { /* For mobile 375px */
    html {
        font-size: 8px;
    }

    .nav-div {
        margin: 2.5% 2.5% 0% 2.5%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .nav-div > img {
        height: 150%;
        width: 150%;
        margin-right: 55%;
    }
    
    .nav-ul > li{
        width: 20%;
        display: none;
    }

    .btn {
        color: black;
        background-color: #cdc9c3;
        font-size: 2rem;
    }

    .dropdown {
        display: block;
        padding-right: 10%;
    }

    .dropdown-menu, .dropdown-item {
        background-color: #cdc9c3;
        font-size: 2rem;
    }
    
    .nav-ul, li {
        display: flex; 
        flex-direction: column;
        justify-content: space-around;
        font-size: 2rem;
    }

    section > h1 {
        padding: 4% 10% 0% 10%;
        text-align: center;
    }

    .form > input {
        margin: 5% 12.5%;
        height: 8%;
        width: 75%;
        font-size: 2rem;
    }

    .form > button {
        margin: 8% 30%;
        height: 30px;
        width: 40%;
        border: 1px solid #555555; 
        font-size: 1.5rem; 
        background-color: #CDC9C3;
    }

    .faq-question, .faq-answer {
        width: 80%;
        margin-left: 10%;
    }

    .faq-answer-span {
        display: inline;
        /* justify-content: center;
        flex-direction: row; */
    }

    .main-div {
        display: flex;
        flex-direction: column;
    }
    
    .city1-data, .city2-data {
        width: 80%;
        margin: 2% 10%;
        font-size: 2rem;
    }
    
    .diffs-data {
        width: 80%;
        margin: 2% 10%;
        font-size: 2rem;
        align-items: flex-start;
        display: flex;
        flex-direction: column;
    }

    .map {
        border: 1mm solid #555555;
    }

    .map-frame1, .map-frame2 {
        width: 80%;
    }
}

@media (min-width: 376) and (max-width: 768px) { /* For tablet 768px*/
    
    html {
        font-size: 8px;
    }

    .nav-div {
        margin: 2.5% 2.5% 0% 2.5%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .nav-div > img {
        height: 15%;
        width: 15%;
        margin-right: 2%;
    }
    
    .nav-ul {
        width: 78%;
    }
  
    .nav-ul, li {
        display: flex; 
        flex-direction: column;
        justify-content: space-around;
        font-size: 2rem;
    }

    .dropdown {
        display: none;
    }

    .form > input {
        margin: 5% 12.5%;
        height: 8%;
        width: 75%;
        font-size: 2rem;
    }

    .form > button {
        margin: 8% 30%;
        height: 30px;
        width: 40%;
        border: 1px solid #555555; 
        font-size: 1.5rem; 
        background-color: #CDC9C3;
    }
    
    .faq-answer-span {
        display: inline;
    }

    .main-div {
        display: flex;
        flex-direction: column;
        
    }
    
    .city1-data, .city2-data {
        width: 80%;
        margin: 2% 10%;
        font-size: 2rem;
    }
    
    .diffs-data {
        width: 80%;
        margin: 2% 10%;
        font-size: 2rem;
        align-items: flex-start;
        display: flex;
        flex-direction: column;
    }
} 

/*--- Sign In rules ---*